<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand px-3" style="font-size: medium;">Clínica Virtual Professional</a>
  <button (click)="dropMenu=!dropMenu" class="navbar-toggler p-1 mx-1" type="button" data-toggle="collapse"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [class.show]="dropMenu" class="collapse navbar-collapse justify-content-end">
    <div class="navbar-nav">
      <a [class.active]="active === 2" (click)="setActive(2)" class="nav-link px-3" (click)="signOut()">Salir</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-6 text-center mt-3">
    <h4 class="mb-3">
      Vendedores Disponibles
    </h4>
    <div class="col-10 offset-1">
      <app-user-list-table [users]="sellers|filterUser:3" (userSelected)="selectUser($event)"></app-user-list-table>
    </div>
  </div>

  <div *ngIf="selected" class="col-6 text-center mt-3">
    <h4>Monedas Disponibles</h4>
    <span class="text-muted">(para {{selected.data.mail}})</span>
    <div class="col-10 offset-1 mt-3 text-center">
      <app-coin-list-table [coins]="coinsOffered" (coinSelected)="selectCoin($event)"></app-coin-list-table>
      <div *ngIf="selectedCoin" [formGroup]="buy">
        <div *ngIf="selectedCoin" class="form-group">
          <label for="buy">Comprar {{selectedCoin.data.nombre}}</label>
          <input pattern="(?=.+)(?:[1-9]\d*|0)?(?:\.\d+)?" placeholder="Ingrese el valor que desea adquirir"
            formControlName="ammount" required name="ammount" type="float" class="form-control">
          <!--errores-->
          <div *ngIf="buy.controls['ammount'].errors?.required && (sended || buy.controls['ammount'].touched) ">
            <span class="text-danger">**Ingrese la cantidad a comprar**</span>
          </div>
          <div *ngIf="buy.controls['ammount'].errors?.pattern">
            <span class="text-danger">**Formato incorrecto**</span>
          </div>
          <div *ngIf="buy.controls['ammount'].errors?.min && (sended || buy.controls['ammount'].touched) ">
            <span class="text-danger">**No se puede comprar cero unidades**</span>
          </div>
          <div *ngIf="buy.controls['ammount'].errors?.max &&  (sended || buy.controls['ammount'].touched)">
            <span class="text-danger">**No se permite comprar mas de 100 unidades**</span>
          </div>
        </div>
        <button (click)="comprar()" appSellerPicName [seller]="selected" type="submit"
          class="btn btn-primary col-4 mt-3">Comprar</button>
      </div>
    </div>

  </div>
</div>
